<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Relatório</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <style>
      table {
        width: 100%;
      }
      th {
        text-align: left;
      }
    </style>
  </head>

  <body class="bg-green-100">
    <div class="m-8">
      <h1 class="text-3xl">QUADRO DE FUNDADORES DA HITECHLINE</h1>
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Cargo</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <% if(hitechlinePartners.length > 0 ) { %> <%
          hitechlinePartners.forEach(partner => { %>

          <tr>
            <td><%= partner.name %></td>
            <td><%= partner.type %></td>
            <td><%= partner.state %></td>
          </tr>
          <% }); %> <%} %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">Total de <%=hitechlinePartners.length%> Sócios</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </body>
</html>
